/////////////////////// VARIABLES AND MIXINS ///////////////////////////////
///////////////////////////////////////////////////////////////////////////


///////////////////////////////////////// fonts

$serif: 'Roboto Slab', serif;
$sans-serif: 'Open Sans', sans-serif;

//////////////////////////////////////// Colours

$color-black: #000000;
$color-white: #ffffff;
$color-darkgrey: #212121;
$color-mediumgrey: #333333;
$color-blue: #40A8D6;
$color-violet: #5C2483;
$color-light-grey: #EDEDED;


/////////////////////////////////////// Mixins

